<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="frame-main">

    <!--Header-part-->
    <div id="header">
        <h1><a href="index">Matrix Admin</a></h1>
    </div>
    <!--close-Header-part-->


    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse" style="overflow: visible;z-index: 999">
        <ul class="nav">
            <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎您，<span th:text="${nickname}"/></span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> 我的配置</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-check"></i> 我的任务</a></li>
                    <li class="divider"></li>
                    <li><a href="user/logout"><i class="icon-key"></i> 登出</a></li>
                </ul>
            </li>
            <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <span class="label label-important">5</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 新消息</a></li>
                    <li class="divider"></li>
                    <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> 收件箱</a></li>
                    <li class="divider"></li>
                    <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 写邮件</a></li>
                    <li class="divider"></li>
                    <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> 垃圾箱</a></li>
                </ul>
            </li>
            <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
            <li class=""><a title="" href="user/logout"><i class="icon icon-share-alt"></i> <span class="text">登出</span></a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--start-top-serch-->
    <div id="search">
        <input type="text" placeholder="Search here..."/>
        <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <!--sidebar-menu-->
    <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 首页</a>
        <ul>
            <li class="active"><a href="index"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            <li> <a href="charts"><i class="icon icon-signal"></i> <span>数据统计</span></a> </li>
            <li><a href="tables"><i class="icon icon-th"></i> <span>数据表</span></a></li>
            <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>表单操作</span> <span class="label label-important">3</span></a>
                <ul>
                    <li><a href="form-common">一般操作</a></li>
                    <li><a href="form-permission">权限管理</a></li>
                    <li><a href="form-wizard.html">制作中</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--sidebar-menu-->
</body>
</html>