<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../static/css/matrix-style.css" />
<link rel="stylesheet" href="../static/css/matrix-media.css" />
<link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<div th:replace="common/frame-main::frame-main"/>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a href="/index" title="首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="/charts" class="current">掉落统计</a></div>
    <h1>掉落统计<span class="badge badge-success" th:if="${curZoneName}" th:text="${curZoneName}"/></h1>
  </div>
  <div class="container-fluid">
    <hr>
      <div class="span12">

        <div class="row-fluid">
            <div class="span12">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  点我选区
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <!--              <li role="separator" class="divider"></li>-->
                  <li th:each="zoneName : ${zoneNameList}"><a th:href="'/charts?zoneid=' + ${zoneName}">[[${zoneName}]]</a></li>
                </ul>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" style="width: 1500px">
                    <div id="main" style="width: 1500px;height:5400px;"></div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- footer part begin -->
<div th:replace="common/frame-footer::frame-footer"/>
<!-- footer part end -->

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/matrix.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<!--Real-time-chart-js-->
<script type="text/javascript" th:inline="javascript">
    refurbishIndex = () => {
        let obj = '[[${dropItemList}]]'
        var optionJson= JSON.parse(obj)
        optionJson.sort(function(a, b){return a.count - b.count});
        let xData = []
        let yData = []
        for (let i=0; i<optionJson.length; i++) {
            xData[i] = optionJson[i].count;
            yData[i] = optionJson[i].keyname;
        }
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '[[${curZoneName}]]',
                subtext: '数据来自游戏'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: yData
            },
            series: [
                {
                    name: '2011年',
                    type: 'bar',
                    data: xData
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    window.onload = () => {
        refurbishIndex()
    }
</script> 
<!--Real-time-chart-js-end-->
<script src="../static/js/matrix.dashboard.js"></script>
</body>
</html>
