<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../static/css/uniform.css" />
<link rel="stylesheet" href="../static/css/select2.css" />
<link rel="stylesheet" href="../static/css/matrix-style.css" />
<link rel="stylesheet" href="../static/css/matrix-media.css" />
<link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div th:replace="common/frame-main::frame-main"/>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">Form elements</a> <a href="#" class="current">Validation</a> </div>
    <h1>权限管理</h1>
  </div>
  <div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>用户操作</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="#" id="user_action_form">
              <div class="control-group">
                <label class="control-label">用户名</label>
                <div class="controls">
                  <input type="text" name="username" id="user_action_username" th:value="${suser == null ? '' : suser.username}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">密码</label>
                <div class="controls">
                  <input type="text" name="password" id="user_action_password" th:value="${suser == null ? '' : suser.password}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">昵称</label>
                <div class="controls">
                  <input type="text" name="nickname" id="user_action_nickname" th:value="${suser == null ? '' : suser.nickname}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">核心密码(救急)</label>
                <div class="controls">
                  <input type="number" name="corepwd" id="user_action_corepwd" th:value="${suser == null ? '' : suser.corepwd}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">*操作类型 :</label>
                <div class="controls">
                  <label>
                    <input type="radio" name="type" value=1 checked/>
                    增加</label>
                  <label>
                    <input type="radio" name="type" value=2 />
                    删除</label>
                  <label>
                    <input type="radio" name="type" value=3 />
                    修改</label>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" value="保存" class="btn btn-success"  onclick="isvalid('用户操作')">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 角色操作 -->
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>角色操作</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="#" id="role_action_form">
              <div class="control-group">
                <label class="control-label">角色名</label>
                <div class="controls">
                  <input type="text" name="username" id="role_action_username">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">角色描述</label>
                <div class="controls">
                  <input type="text" name="password" id="role_action_password">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">*操作类型 :</label>
                <div class="controls">
                  <label>
                    <input type="radio" name="type" value=1 checked/>
                    增加</label>
                  <label>
                    <input type="radio" name="type" value=2 />
                    删除</label>
                  <label>
                    <input type="radio" name="type" value=3 />
                    修改</label>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" value="保存" class="btn btn-success"  onclick="isvalid('角色操作')">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 权限操作 -->
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>权限操作</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="#" id="permission_action_form">
              <div class="control-group">
                <label class="control-label">权限接口</label>
                <div class="controls">
                  <input type="text" name="username" id="permission_action_username">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">权限名</label>
                <div class="controls">
                  <input type="text" name="password" id="permission_action_password">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">*操作类型 :</label>
                <div class="controls">
                  <label>
                    <input type="radio" name="type" value=1 checked/>
                    增加</label>
                  <label>
                    <input type="radio" name="type" value=2 />
                    删除</label>
                  <label>
                    <input type="radio" name="type" value=3 />
                    修改</label>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" value="保存" class="btn btn-success"  onclick="isvalid('权限操作')">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Footer-part-->
<div th:replace="common/frame-footer::frame-footer"/>
<!--end-Footer-part-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.ui.custom.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.uniform.js"></script>
<script src="../static/js/select2.min.js"></script>
<script src="../static/js/jquery.validate.js"></script>
<script src="../static/js/matrix.js"></script>
<script src="../static/js/matrix.form_validation.js"></script>
<script type="text/javascript">
  function isvalid(data) {
    if (data === '用户操作') {
      //表单异步提交
      $.ajax({
        type: 'post',
        data: $('#user_action_form').serialize(),
        url: '/user/userAction',
        cache:false,
        dataType:'text',
        async:false,
        success: function (msg) {
          console.log(msg)
          if (msg === "success") {
            alert("提交成功！")
          } else {
            alert("提交失败！" + msg)
          }
        }
      });
    } else if (data === '角色操作') {
      //表单异步提交
      $.ajax({
        type: 'post',
        data: $('#role_action_form').serialize(),
        url: '/user/roleAction',
        cache:false,
        dataType:'text',
        async:false,
        success: function (msg) {
          console.log(msg)
          if (msg === "success") {
            alert("提交成功！")
          } else {
            alert("提交失败！" + msg)
          }
        }
      });
    } else if (data === '权限操作') {
      //表单异步提交
      $.ajax({
        type: 'post',
        data: $('#permission_action_form').serialize(),
        url: '/user/permissionAction',
        cache:false,
        dataType:'text',
        async:false,
        success: function (msg) {
          console.log(msg)
          if (msg === "success") {
            alert("提交成功！")
          } else {
            alert("提交失败！" + msg)
          }
        }
      });
    }
  }
</script>
</body>
</html>
