<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../static/css/fullcalendar.css" />
    <link rel="stylesheet" href="../static/css/matrix-style.css" />
    <link rel="stylesheet" href="../static/css/matrix-media.css" />
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/jquery.gritter.css" />
    <style type="text/css">

    </style>

</head>
<body>

<div th:replace="common/frame-main::frame-main"/>

<!--main-container-part-->
<div id="content">
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"> <a href="/index"> <i class="fa fa-dashboard fa-3x"></i> <br/><!--<span class="label label-important">20</span>--> 首页 </a> </li>
                <li class="bg_lg span3"> <a href="/chart/charts"> <i class="fa fa-signal fa-3x"></i> <br/>掉落统计</a> </li>
<!--                <li class="bg_lo"> <a href="/table/chargeTable"> <i class="fa fa-th"></i> 充值统计</a> </li>-->
                <li class="bg_lb span3"> <a href="/st/searchMonsterMsg"> <i class="fa fa-snapchat-ghost fa-3x"></i> <br/> 怪物信息</a> </li>
                <li class="bg_lo span2"> <a href="/st/form-common"> <i class="fa fa-windows fa-3x"></i> <br/> 表单操作</a> </li>
                <li class="bg_lo span2"> <a href="/st/chat_record"> <i class="fa fa-windows fa-3x"></i> <br/> 聊天监控</a> </li>
                <span th:each="role : ${yourRoles}">
                    <li th:if="${role.rolename eq 'administrator'}" class="bg_lr span3"><a href="/table/chargeTable"> <i class="fa fa-diamond fa-3x"></i> <br/> 充值统计</a></li>
                </span>
                <span th:each="role : ${yourRoles}">
                    <li th:if="${role.rolename eq 'administrator'}" class="bg_ly span2"><a href="/form-permission"> <i class="fa fa-users fa-3x"></i> <br/> 权限管理</a></li>
                </span>
                <li class="bg_lo span2"> <a href="#"> <i class="fa fa-users fa-3x"></i> <br/> 总访问人数[[${loginNum}]]</a> </li>
            </ul>
        </div>
        <!--End-Action boxes-->
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title bg_lo"  data-toggle="collapse" href="#collapseG3" > <span class="icon"> <i class="fa fa-apple"></i> </span>
                        <h5>更新日志</h5>
                    </div>
                    <div class="widget-content nopadding updates collapse in" id="collapseG3">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div th:replace="common/frame-footer::frame-footer"/>

<!--end-Footer-part-->

<script src="../static/js/excanvas.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.ui.custom.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.flot.min.js"></script>
<script src="../static/js/jquery.flot.resize.min.js"></script>
<script src="../static/js/jquery.peity.min.js"></script>
<script src="../static/js/fullcalendar.min.js"></script>
<script src="../static/js/matrix.js"></script>
<script src="../static/js/matrix.dashboard.js"></script>
<script src="../static/js/select2.min.js"></script>
<script src="../static/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage (newURL) {

        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {

            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-" ) {
                resetMenu();
            }
            // else, send page to designated URL
            else {
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }
    function createANode(nodeElement, nodeAttr, nodeAttrV) {
        let element = document.createElement(nodeElement)
        for (let i=0; i<nodeAttr.length; i++) {
            let attribute = document.createAttribute(nodeAttr[i])
            attribute.nodeValue = nodeAttrV[i]
            element.setAttributeNode(attribute)
        }
        return element
    }
    const versionData = {
        0:{version:"V-0.0.0.1", content:["项目初始化"], date_month:"Aug", date_day:"1"},
        1:{version:"V-0.0.0.2", content:["新增功能掉落统计","新增权限操作"], date_month:"Aug", date_day:"20"},
        2:{version:"V-0.0.0.3", content:["新增功能，充值统计","优化神途分发功能"], date_month:"Aug", date_day:"25"},
        3:{version:"V-0.0.0.4", content:["新增功能，给予操作","新增怪物信息查询","服务端维护"], date_month:"Aug", date_day:"30"},
        4:{version:"V-0.0.1.5", content:["服务端维护"], date_month:"Sep", date_day:"6"},
        5:{version:"V-0.0.1.6", content:["新增模拟充值功能","修改怪物信息显示方式为表格形式"], date_month:"Sep", date_day:"7"},
        6:{version:"V-0.0.1.7", content:["为了方便确认区名，我们为表单操作加了选择项，且仍然保留原输入方法","为模拟充值加入网络波动效果","修复字体图标显示"], date_month:"Sep", date_day:"8"},
        7:{version:"V-0.0.1.8", content:["为首页增加管理员可见项","充值显示为真实充值金额","新增怪物操作功能","新增NPC刷新功能"], date_month:"Sep", date_day:"9"},
        8:{version:"V-0.0.1.9", content:["持久层框架更新 - 升级Mybatis框架到Mybatis-Plus框架","为充值金额添加一个小图标","新增更新日志功能"], date_month:"Sep", date_day:"11"},
        9:{version:"V-0.1.2.0", content:["新增聊天监控功能","新增消息操作功能","新增总访问人数内容(未知原因，暂不可用)","修复上一个版本引入的jar包冲突问题"], date_month:"Sep", date_day:"13"},
    }
    window.onload = () => {
        let elementA = document.getElementById("collapseG3")
        let beginP = Object.keys(versionData).length
        for(let i=beginP-1; i>=0; i=i-1) {
            // 最外层div
            let elementB = createANode("div", ["class"], ["new-update clearfix"])
            // 小图标 C
            let elementC = createANode("i", ["class"], ["fa fa-newspaper-o"])
            // 第二层第一个div 内容部分
            let elementD = createANode("div", ["class"], ["update-done"])
            // 第二层第二个div 日期部分
            let elementE = createANode("div", ["class"], ["update-date"])
            // a标签
            let elementF = createANode("a", ["title","href"], ["", "#"])
            // strong标签
            let elementG = createANode("strong", [], [])
            elementG.innerHTML = versionData[i].version
            // 拼接主内容D标签 D
            elementF.appendChild(elementG)
            elementD.appendChild(elementF)
            let curDataC = versionData[i].content
            for (let j=0; j<curDataC.length; j++) {
                elementG = createANode("span", [], [])
                elementG.innerHTML = (j+1) + ". " + curDataC[j]
                elementD.appendChild(elementG)
            }
            // 日期内容拼接 E
            elementG = createANode("span", ["class"], ["update-day"])
            elementG.innerHTML = versionData[i].date_day
            elementE.appendChild(elementG)
            elementG = createANode("span", [], [])
            elementG.innerHTML = versionData[i].date_month
            elementE.appendChild(elementG)
            // 拼接B标签
            elementB.appendChild(elementC)
            elementB.appendChild(elementD)
            elementB.appendChild(elementE)
            // 放入A标签
            elementA.appendChild(elementB)
        }
    }
</script>
</body>
</html>
