<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../static/css/colorpicker.css" />
<link rel="stylesheet" href="../static/css/datepicker.css" />
<link rel="stylesheet" href="../static/css/uniform.css" />
<link rel="stylesheet" href="../static/css/select2.css" />
<link rel="stylesheet" href="../static/css/matrix-style.css" />
<link rel="stylesheet" href="../static/css/matrix-media.css" />
<link rel="stylesheet" href="../static/css/bootstrap-wysihtml5.css" />
<link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
<div th:replace="common/frame-main::frame-main"/>
<!--close-left-menu-stats-sidebar-->

<div id="content">
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <form action="/st/searchMonsterMsg" method="post">
        <div class="input-group">
            <select class="custom-select" id="inputGroupSelect04" name="zonename" aria-label="Example select with button addon">
              <option selected th:unless="${zonename}">Choose...</option>
              <option selected th:if="${zonename}" th:value="${zonename}" name="zonename"><span th:text="${zonename}"/></option>
              <option th:each="zone : ${zoneList}" th:value="${zone.zonename}" name="zonename"><span th:text="${zone.zonename}"/></option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="search_mob">搜索</button>
            </div>
        </div>
      </form>
      <hr/>

      <div class="row-fluid">
        <div class="span12">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="fa fa-apple"></i> </span>
              <h5>[[${zonename}]] -- 怪物信息 **** 状态描述:死亡-白 未知-蓝 存活-绿</h5>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered table-hover">
                <thead>
                <tr class="active">
                  <th>BOSS名</th>
                  <th>地图</th>
                  <th>BOSS击杀者</th>
                  <th>被击杀的时间</th>
                  <th>预计复活时间</th>
                  <th>预计复活间隔</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                  <span th:each="mob : ${mobList}">
                    <tr class="odd gradeX" th:attrappend="class=${mob.mobStatus} eq '存活' ? ' success' : ''" th:styleappend="${mob.mobStatus} eq '未知' ? 'background-color: rgba(0,0,255, 0.1)' : ''">
                      <td><strong style="font-size: 24px">[[${mob.mobname}]]</strong></td>
                      <td>[[${mob.mapname}]]</td>
                      <td>[[${mob.killer}]]</td>
                      <td class="center"><strong style="font-size: 12px">[[${mob.dietime}]]</strong></td>
                      <td class="center"><strong style="font-size: 12px">[[${mob.futureBornTime} eq null ? '无' : ${mob.futureBornTime}]]</strong></td>
                      <td class="center">[[${mob.relivetime} eq null ? '无' : ${mob.relivetime / 60}+分钟]]</td>
                      <td class="center">[[${mob.mobStatus} eq null ? '无' : ${mob.mobStatus}]]</td>
                      <span th:object="${mob}">
                        <td class="center"><a th:if="*{relivetime}" href="#" th:onclick="clearRT([[*{zonename}]], [[*{mobname}]], [[*{mapname}]])" class="btn btn-primary">重置</a></td>
                      </span>
                    </tr>
                  </span>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
<div th:replace="common/frame-footer::frame-footer"/>
<script src="../static/js/jquery.ui.custom.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/matrix.js"></script>
<script>

    window.onload=function(){
      // let obj = document.getElementsByName("mobCard")
      // let obj2 = document.getElementsByName("mobStatus")
      // for (let i=0; i < obj.length; i++) {
      //   let className = document.createAttribute("style")
      //   if (obj2[i].innerHTML === "死亡") {
      //     className.nodeValue = "background-color:rgba(255,0,0,0.08);"
      //   } else if (obj2[i].innerHTML === "存活") {
      //     className.nodeValue = "background-color:rgba(0,255,0,0.08);"
      //   } else {
      //     className.nodeValue = "background-color:rgba(0,0,255,0.08);"
      //   }
      //   obj[i].setAttributeNode(className)
      // }
    }

    function clearRT(zonename, mobname, mapname) {
      //表单异步提交
      $.ajax({
        type: 'post',
        data: {zonename:zonename,mobname:mobname,mapname:mapname},
        url: '/st/clearRelive',
        cache:false,
        dataType:'text',
        async:false,
        success: function (msg) {
          if (msg === "success") {
            document.getElementById("search_mob").click()
          } else {
            alert("修改失败！")
          }
        }
      })
    }
</script>
</body>
</html>
