<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid" >
    <div class="jumbotron">
        <h1 class="display-4">POE 价格记录器!</h1>
        <p class="lead">一个简单的价格记录器，方便查询获取到物品的收益.</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="#" role="button" data-toggle="modal" data-target="#addNewItem">新增物品</a>
        <a class="btn btn-success btn-lg" href="#" role="button" onclick="findTradeMsg()">测试接口</a>
<!--        <a class="btn btn-primary btn-lg" href="#" role="button">查询物品</a>-->
        <hr class="my-4">
        <div class="input-group mb-3">
            <input type="text" id="search_content" class="form-control" placeholder="物品名字" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button_add2" onclick="searchItem(2)">精确搜索</button>
                <button class="btn btn-outline-secondary" type="button" id="button_add3" onclick="searchItem(3)">模糊搜索</button>
            </div>
        </div>
        <hr class="my-4">
        <!--物品展示区域-->
        <div class="row" id="item_show_area"></div>
        <hr class="my-4">
        <!-- 排行榜Ex -->
        <div class="row">
            <div class="col-2">
                <div class="btn-group-vertical" role="mainType" id="poe_ninja_main_type">

                </div>
            </div>
            <div class="col-10">
                <!-- 排行榜 -->
                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="active">
                            <th>物品</th>
                            <th>价格</th>
                            <th>排行价格</th>
                            <th>类型</th>
                            <th>额外描述</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <span th:each="item : ${itemList}">
                        <tr class="odd gradeX">
                            <td>[[${item.itemName}]]</td>
                            <td>[[${item.itemCurPrice}]]</td>
                            <td>[[${item.chaosPrice}]]</td>
                            <td>[[${item.itemType}]]</td>
                            <td>[[${item.itemDesc}]]</td>
                            <td>[[${item.itemRecordTime}]]</td>
                            <td>
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editItem" th:onclick="delItemPre( [[${item.itemName}]] , [[${item.itemRecordTime}]] , [[${item.itemDesc}]] , [[${item.itemType}]] , [[${item.itemCurPrice}]])">编辑</a>
<!--                                <a href="#" class="btn btn-primary" th:onclick="'delItem(\'' + ${item.itemName} + '\',\'' + ${item.itemRecordTime} + '\')'">编辑</a>-->
                                <a href="#" class="btn btn-primary" th:onclick="delItem([[${item.itemName}]] , [[${item.itemRecordTime}]])">删除</a>

                            </td>
                        </tr>
                    </span>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>

    <div class="modal fade" id="addNewItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增物品</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_add">
                        <div class="form-group">
                            <label for="form_new_item_name" class="col-form-label">物品名称:</label>
                            <input type="text" class="form-control" id="form_new_item_name" name="itemName">
                        </div>

                        <div class="form-group">
                            <label for="form_new_item_value" class="col-form-label">价值:</label>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="number" class="form-control" id="form_new_item_value" name="itemCurPrice">
                                </div>
                                <div class="col-sm">
                                    <div class="dropdown">
                                        <select class="custom-select" id="form_new_item_value_unit" name="itemValueUnit" aria-label="Example select with button addon">
                                            <option selected>混沌石</option>
                                            <option>崇高石</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-form-label">物品类型:</label>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="dropdown">
                                        <select class="custom-select" id="form_new_item_type" name="itemType" aria-label="Example select with button addon">
                                            <option selected>通货</option>
                                            <option>碎片</option>
                                            <option>梦魇宝珠</option>
                                            <option>守望石</option>
                                            <option>圣油</option>
                                            <option>孕育石</option>
                                            <option>圣甲虫</option>
                                            <option>化石</option>
                                            <option>共振器</option>
                                            <option>精华</option>
                                            <option>命运卡</option>
                                            <option>预言</option>
                                            <option>技能宝石</option>
                                            <option>底子</option>
                                            <option>附魔装备</option>
                                            <option>传奇地图</option>
                                            <option>地图</option>
                                            <option>珠宝</option>
                                            <option>药剂</option>
                                            <option>传奇武器</option>
                                            <option>传奇护甲</option>
                                            <option>传奇首饰</option>
                                            <option>野兽</option>
                                            <option>魔瓶</option>
                                            <option>其它</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="form_new_item_simpleDesc" class="col-form-label">描述:</label>
                            <textarea class="form-control" placeholder="宝石可填 异常 分歧 魅影" id="form_new_item_simpleDesc" name="itemDesc"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addNewItem()">确认新增</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_item_label">编辑物品</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_edit">
                        <div class="form-group">
                            <label for="form_old_item_name" class="col-form-label">物品名称:</label>
                            <input type="text" class="form-control" id="form_old_item_name" name="itemName">
                        </div>

                        <div class="form-group">
                            <label for="form_old_item_value" class="col-form-label">价值:</label>
                            <div class="row">
                                <div class="col-sm">
                                    <input type="number" class="form-control" id="form_old_item_value" name="itemCurPrice">
                                </div>
                                <div class="col-sm">
                                    <div class="dropdown">
                                        <select class="custom-select" id="form_old_item_value_unit" name="itemValueUnit" aria-label="Example select with button addon">
                                            <option selected>混沌石</option>
                                            <option>崇高石</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-form-label">物品类型:</label>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="dropdown">
                                        <select class="custom-select" id="form_old_item_type" name="itemType" aria-label="Example select with button addon">
                                            <option selected>通货</option>
                                            <option>碎片</option>
                                            <option>梦魇宝珠</option>
                                            <option>守望石</option>
                                            <option>圣油</option>
                                            <option>孕育石</option>
                                            <option>圣甲虫</option>
                                            <option>化石</option>
                                            <option>共振器</option>
                                            <option>精华</option>
                                            <option>命运卡</option>
                                            <option>预言</option>
                                            <option>技能宝石</option>
                                            <option>底子</option>
                                            <option>附魔装备</option>
                                            <option>传奇地图</option>
                                            <option>地图</option>
                                            <option>珠宝</option>
                                            <option>药剂</option>
                                            <option>传奇武器</option>
                                            <option>传奇护甲</option>
                                            <option>传奇首饰</option>
                                            <option>野兽</option>
                                            <option>魔瓶</option>
                                            <option>其它</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="form_old_item_simpleDesc" class="col-form-label">描述:</label>
                            <textarea class="form-control" placeholder="宝石可填 异常 分歧 魅影" id="form_old_item_simpleDesc" name="itemDesc"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="editItem()">确认更改</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $('#search_content').bind('keypress',function(event){
        if(event.keyCode == 13)
        {
            document.getElementById("button_add3").click();
        }
    });



    function createANode(nodeElement, nodeAttr, nodeAttrV) {
        let element = document.createElement(nodeElement)
        for (let i=0; i<nodeAttr.length; i++) {
            let attribute = document.createAttribute(nodeAttr[i])
            attribute.nodeValue = nodeAttrV[i]
            element.setAttributeNode(attribute)
        }
        return element
    }
    let mainTypeArr = {
        1: ["通货", "CurrencyRerollRare"],
        2: ["碎片", "FragmentPhoenix"],
        3: ["梦魇宝珠", "DeliriumOrbScarabs"],
        4: ["守望石", "IvoryWatchstone5"],
        5: ["圣油", "OpalescentOil"],
        6: ["孕育石", "IncubationAbyss"],
        7: ["圣甲虫", "GreaterScarabBreach"],
        8: ["化石", "SanctifiedFossil"],
        9: ["共振器", "Reroll2x2A"],
        10: ["精华", "Woe7"],
        11: ["命运卡", "InventoryIcon"],
        12: ["预言", "ProphecyOrbRed"],
        13: ["技能宝石", "Portal"],
        14: ["底子", "OpalRing"],
        15: ["附魔装备", "ClusterBurst"],
        16: ["传奇地图", "UndeadSiege"],
        17: ["地图", "Gorge3"],
        18: ["珠宝", "unique7"],
        19: ["药剂", "Item"],
        20: ["传奇武器", "Varunastra"],
        21: ["传奇护甲", "Skyforth"],
        22: ["传奇首饰", "AgateAmuletUnique"],
        23: ["野兽", "BestiaryOrbFull"],
        24: ["魔瓶", "VialTemperedFlesh"],
        25: ["其它", "CurrencyDuplicate"],
    }
    window.onload = () => {
        let mainNode = document.getElementById("poe_ninja_main_type")
        for (let i=1; i <= 25; i++) {
            let buttonNode = createANode("button", ["type", "class", "onclick"], ["button", "btn btn-secondary", "searchWithType('" + mainTypeArr[i][0] + "')"])
            let imgNode = createANode("img", ["src", "style"], ["../static/img/poe/MainType/" + mainTypeArr[i][1] + ".png", "width:40px;height:40px"])
            let textNode = createANode("span", ["style"], ["text-align:left;line-height:40px;color:#f9f1db"])
            let node1 = createANode("div", ["class"], ["row"])
            let node2 = createANode("div", ["class"], ["col-3"])
            let node3 = createANode("div", ["class"], ["col-9"])
            textNode.innerHTML = mainTypeArr[i][0]
            node2.appendChild(imgNode)
            node3.appendChild(textNode)
            node1.appendChild(node2)
            node1.appendChild(node3)
            buttonNode.appendChild(node1)
            mainNode.appendChild(buttonNode)
        }
    }

    function dataRefresh(data) {
        document.getElementById("item_show_area").innerHTML = ""
        let optionJson = JSON.parse( data );
        for (let i=0; i<optionJson.length; i++) {
            let parentN = document.getElementById("item_show_area")
            // let node1 = createANode("div", ["class"], ["row"])
            let node2 = createANode("div", ["class"], ["col-sm"])
            let node3 = createANode("div", ["class", "style"], ["card", "width: 18rem"])
            let node4 = createANode("img", ["src", "class"], ["../static/img/poe_item_index_bk.jpg", "card-img-top"])
            let node5 = createANode("div", ["class"], ["card-body"])
            let node6 = createANode("h3", ["class", "style"], ["card-title", "color: #f89406"])
            node6.innerHTML = optionJson[i].itemName
            node5.appendChild(node6)
            node6 = createANode("h5", ["class", "style"], ["card-title", "color: #da4f49"])
            node6.innerHTML = optionJson[i].itemCurPrice
            node5.appendChild(node6)
            node6 = createANode("h5", ["class", "style"], ["card-title", "color: #459D1C"])
            node6.innerHTML = optionJson[i].itemRecordTime
            node5.appendChild(node6)
            node6 = createANode("h5", ["class", "style"], ["card-title", "color: #0e0e0e"])
            node6.innerHTML = optionJson[i].itemType
            node5.appendChild(node6)
            node6 = createANode("h5", ["class", "style"], ["card-title", "color: #2a85a0"])
            node6.innerHTML = optionJson[i].itemDesc
            node5.appendChild(node6)
            node6 = createANode("a", ["href", "class", "data-toggle", "data-target", "data-itemName", "onclick"], ["#", "btn btn-primary", "modal", "#editItem", optionJson[i].itemName, "delItemPre(\"" + optionJson[i].itemName + "\",\"" + optionJson[i].itemRecordTime + "\",\"" + optionJson[i].itemDesc  + "\",\"" + optionJson[i].itemType + "\",\"" + optionJson[i].itemCurPrice + "\")"])
            node6.innerHTML = "编辑"
            node5.appendChild(node6)
            node6 = createANode("a", ["href", "class", "onclick"], ["#", "btn btn-danger", "delItem(\"" + optionJson[i].itemName + "\",\"" + optionJson[i].itemRecordTime + "\")"])
            node6.innerHTML = "删除"
            node5.appendChild(node6)
            node3.appendChild(node4)
            node3.appendChild(node5)
            node2.appendChild(node3)
            parentN.appendChild(node2)
        }
    }
    <!-- 搜索 -->
    function searchItem(type) {
        $.ajax({
            type: 'post',
            data: {itemName:document.getElementById("search_content").value},
            url: type === 2 ? "/poeItemPrice/search" : "/poeItemPrice/BlurrySearch",
            cache: false,
            dataType: 'text',
            async: false,
            success: data => {
                dataRefresh(data)
            }
        })
    }

    <!-- 新增物品 -->
    function addNewItem() {
        //表单异步提交
        $.ajax({
            type: 'post',
            data: $('#form_add').serialize(),
            url: "/poeItemPrice/addNewItem",
            cache:false,
            dataType:'text',
            success: function (msg) {
                if (msg === "{code:200, msg:'成功'}") {
                    alert("提交成功！")
                    document.getElementById("search_content").value = document.getElementById("form_new_item_name").value
                    document.getElementById("button_add2").click()
                } else {
                    alert("提交失败！")
                }
            }
        })
    }

    let itemNameRecord = ""
    let itemRecordTimeRecord = ""
    let itemDescRecord = ""
    let itemTypeRecord = ""
    let itemCurPriceRecord = ""
    function delItemPre(itemNamePre, itemRecordTimePre, itemDescPre, itemTypePre, itemCurPricePre) {
        itemNameRecord = itemNamePre
        itemRecordTimeRecord = itemRecordTimePre
        itemDescRecord = itemDescPre
        itemTypeRecord = itemTypePre
        itemCurPriceRecord = itemCurPricePre
        document.getElementById("form_old_item_name").value = itemNamePre
        document.getElementById("form_old_item_simpleDesc").value = itemDescPre
        let options = document.getElementById("form_old_item_type").children
        for (let i=0; i<options.length; i++) {
            options[i].removeAttribute("selected")
        }
        for (let i=0; i<options.length; i++) {
            if (options[i].innerHTML === itemTypePre) {
                options[i].setAttribute("selected", "")
            }
        }
        let priceT = itemCurPricePre.split(" ")
        document.getElementById("form_old_item_value").value = priceT[0]

        options = document.getElementById("form_old_item_value_unit").children
        for (let i=0; i<options.length; i++) {
            options[i].removeAttribute("selected")
        }
        for (let i=0; i<options.length; i++) {
            if (options[i].innerHTML === priceT[1]) {
                options[i].setAttribute("selected", "")
            }
        }
    }

    <!-- 删除物品 -->
    function delItem(itemName, itemRecordTime) {
        //表单异步提交
        $.ajax({
            type: 'post',
            data: {itemName: itemName, itemRecordTime: itemRecordTime},
            url: "/poeItemPrice/delItem",
            cache: false,
            dataType:'text',
            success: function (msg) {
                if (msg === "{code:200, msg:'成功'}") {
                    alert("提交成功！")
                    document.getElementById("button_add2").click()
                } else {
                    alert("提交失败！")
                }
            }
        })
    }

    <!-- 编辑物品 -->
    function editItem() {
        //表单异步提交
        let data = $('#form_edit').serialize()
        data = data + "&itemRecordTime=" + itemRecordTimeRecord
        $.ajax({
            type: 'post',
            data: data,
            url: "/poeItemPrice/editItem",
            cache:false,
            dataType:'text',
            success: function (msg) {
                if (msg === "{code:200, msg:'成功'}") {
                    alert("提交成功！")
                    document.getElementById("button_add2").click()
                } else {
                    alert("提交失败！")
                }
            }
        })
    }

    function searchWithType(param) {
        window.location.replace("http://" + location.host + "/poeItemPrice/index?itemType=" + param);
    }

    function findTradeMsg() {
        let uuidAttr = []
        $.ajax({
            type: 'post',
            data: '{"query":{"status":{"option":"online"},"name":"Headhunter","type":"Leather Belt","stats":[{"type":"and","filters":[]}]},"sort":{"price":"asc"}}',
            url: "https://www.pathofexile.com/api/trade/search/Heist",
            cache:false,
            dataType:'json',
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                let itemJson = msg
                // 抽样选取前10个
                for (let i=0; i<10; i++) {
                    uuidAttr[i] = itemJson["result"][i]
                }
                fetchItemJson(uuidAttr, itemJson.id)
            }
        })
    }

    function fetchItemJson(uuidAttr, itemId) {
        let data = uuidAttr.join()
        $.ajax({
            type: 'get',
            data: "",
            url: "https://www.pathofexile.com/api/trade/fetch/" + data,
            cache:false,
            dataType:'json',
            success: function (msg) {
                let itemJson = msg
                for (let i=0; i<9; i++) {
                    console.log(itemJson.result[i].listing.price.type + " " + itemJson.result[i].listing.price.amount + " " + itemJson.result[i].listing.price.currency)
                }

            }
        })
    }

    function findTradeMsg2() {
        $.ajax({
            type: 'post',
            data: '{"query":{"status":{"option":"any"},"type":"胜利盔甲","stats":[{"type":"and","filters":[],"disabled":false}]},"sort":{"price":"asc"}}',
            url: "https://poe.game.qq.com/api/trade/search/S13%E8%B5%9B%E5%AD%A3",
            cache:false,
            dataType:'json',
            contentType: "application/json;charset=utf-8",
            success: function (msg) {
                console.log("##################")
                let itemJson = jQuery.parseJSON(msg);
                for(let k in itemJson ){//遍历packJson 对象的每个key/value对,k为key
                    console.log("kkkk")
                    console.log(k + " " + itemJson[k]);
                }
            }
        })
    }
</script>
</body>
</html>
