<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../static/css/fullcalendar.css" />
    <link rel="stylesheet" href="../static/css/matrix-style.css" />
    <link rel="stylesheet" href="../static/css/matrix-media.css" />
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/jquery.gritter.css" />
    <style type="text/css">

    </style>

</head>
<body>

<div th:replace="common/frame-main::frame-main"/>

<!--main-container-part-->
<div id="content">
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="fa fa-apple"></i> </span>
                        <h5>操作</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">*新增区名 :</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="在这里输入要新增加的区名" name="preTime" id="zone_action_name"/>
                                    <button type="button" class="btn btn-success span1" onclick="addNewZoneName()">增加</button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">*请先选择需要删除的区 :</label>
                                <div class="controls">
                                    <button type="button" class="btn btn-danger span1" onclick="delAllIndex()">一键删除</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="quick-actions_homepage">
            <ul class="quick-actions" id="ul_zone_manage">
                <li onclick="deleteZone(this)" class="bg_lv span1" th:each="zoneManage : ${zoneManageList}">
                    <a><i class="fa fa-check-circle fa-3x" style="color: #28b779;"></i> <br/><strong style="color: #ececec;">[[${zoneManage.zoneName}]]</strong><br/><strong style="color: #459D1C">[[${zoneManage.recordTime}]]</strong></a>
                </li>
            </ul>
        </div>
        <!--End-Action boxes-->


    </div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div th:replace="common/frame-footer::frame-footer"/>

<!--end-Footer-part-->

<script src="../static/js/excanvas.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.ui.custom.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.flot.min.js"></script>
<script src="../static/js/jquery.flot.resize.min.js"></script>
<script src="../static/js/jquery.peity.min.js"></script>
<script src="../static/js/fullcalendar.min.js"></script>
<script src="../static/js/matrix.js"></script>
<script src="../static/js/matrix.dashboard.js"></script>
<script src="../static/js/select2.min.js"></script>
<script src="../static/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    let zoneManageList = JSON.parse('[[${zoneManageList}]]')
    let indexList = {}
    for (let i=0; i<zoneManageList.length; i++) {
        indexList[zoneManageList[i].zoneName] = 0;
    }
    delAllIndex = () => {
        let zoneListC = []
        for (let key in indexList) {
            if (indexList[key] === 1) {
                zoneListC.push(key)
            }
        }
        if (zoneListC.length === 0) {
            alert("请先选择至少一个区！")
            return
        }
        if(confirm('确定要删除' + zoneListC + '吗')==true){
            let data = {zoneNameList:zoneListC}
            let url = "/config/deleteZoneNameConfig"
            $.ajax({
                type: 'post',
                data: data,
                url: url,
                cache:false,
                dataType:'text',
                async:false,
                success: function (msg) {
                    if (msg === "success") {
                        window.location.replace("http://" + location.host + "/config/zoneManage");
                    } else {
                        alert("修改失败！")
                    }
                }
            })
            return true;
        }else{
            return false;
        }
    }

    deleteZone = (obj) => {
        let icon = obj.children[0].children[0]
        let zoneNameP = obj.children[0].children[2]
        if (obj.getAttribute("class") === "bg_lw span1") {
            icon.setAttribute("class", "fa fa-check-circle fa-3x")
            icon.setAttribute("style", "color: #28b779")
            obj.setAttribute("class", "bg_lv span1")
            zoneNameP.setAttribute("style", "color:#ececec")
            indexList[zoneNameP.innerHTML] = 0
        } else {
            icon.setAttribute("class", "fa fa-close fa-3x")
            icon.setAttribute("style", "color: #90111A")
            obj.setAttribute("class", "bg_lw span1")
            obj.children[0].children[2].setAttribute("style", "color:#0e0e0e")
            indexList[zoneNameP.innerHTML] = 1
        }
    }

    addNewZoneName = () => {
        $.ajax({
            type: 'post',
            data: {zoneName:document.getElementById("zone_action_name").value},
            url: "/config/insertZoneNameConfig",
            cache:false,
            dataType:'text',
            async:false,
            success: function (msg) {
                if (msg === "success") {
                    let parentN = document.getElementById("ul_zone_manage")
                    let node1 = createANode("li", ["onclick", "class"],["deleteZone(this)", "bg_ls span1"])
                    let node2 = createANode("a",[],[])
                    let node3 = createANode("i",["class","style"],["fa fa-check-circle fa-3x","color: #28b779"])
                    node2.appendChild(node3)
                    node3 = createANode("br",[],[])
                    node2.appendChild(node3)
                    node3 = createANode("strong",[],[])
                    node3.innerHTML = document.getElementById("zone_action_name").value
                    node2.appendChild(node3)
                    node1.appendChild(node2)
                    parentN.appendChild(node1);
                    alert("增加成功！")
                } else {
                    alert("增加失败！")
                }
            }
        })
    }
</script>
</body>
</html>
